/* ======================= BLOG IMAGE ANIMATION  */
@keyframes animate {
  0% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  50% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  100% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
}

.animate-class {
  animation: animate 8s ease-in-out infinite;
}

/* ================== HERO SECTION ANIMATION ============================ */

.type-effect p:nth-child(1) {
  width: 300px;
  /* width: 300px; */
  animation: type 2s steps(20, end) forwards;
  white-space: nowrap;
  overflow: hidden;
}

.type-effect p:nth-child(2) {
  width: 250px;
  animation: animation 4s steps(20, end) 1.5s infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 4px solid #2d4a53;
  }
  100% {
    width: 9ch;
    /* width: 12ch; */
    border-right: none;
  }
}

@keyframes animation {
  0%,
  10%,
  100% {
    width: 0;
    border-right: 3px solid #2d4a53;
  }
  60%,
  70% {
    width: 9ch;
    border-right: 3px solid #2d4a53;
  }
}

/* ====================== MOUSE-SCROLL ANIMATION =========================== */

.scroll-wheel {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: wheel 1.3s infinite;
  animation: wheel 1.3s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
