/* ======================= BLOG IMAGE ANIMATION  */
@keyframes animate {
  0% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  50% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  100% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
}

.animate-class {
  animation: animate 8s ease-in-out infinite;
}

/* ================== HERO SECTION ANIMATION ============================ */

.type-effect p:nth-child(1) {
  width: 300px;
  animation: type 2s steps(20, end) forwards;
  white-space: nowrap;
  overflow: hidden;
}

/* animation: animation 2s steps(20, end) 1.2s forwards,
  blink 0.5s step-end 2.2s infinite alternate; */

.type-effect p:nth-child(2) {
  width: 250px;
  /* animation: animation01 2s steps(20, end) 1.2s infinite alternate; */
  animation: animation 4s steps(20, end) 1.5s infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 4px solid #2d4a53;
  }
  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes animation01 {
  0% {
    width: 0;
  }
  1% {
    border-right: 3px solid #2d4a53;
  }
  100% {
    border-right: 3px solid #2d4a53;
  }
}

@keyframes animation {
  0%,
  10%,
  100% {
    width: 0;
    border-right: 3px solid #2d4a53;
  }
  60%,
  70% {
    width: 9ch;
    border-right: 3px solid #2d4a53;
  }
}
